body {
	--primary: #8a7c60;
	--secondary: #f4acb7;
	--secondary2: hsla(351, 77%, 82%, 0.45);
	--white: #fbfbfb;
	--white2: #fcfcfc;
	--dark: #575042;
	--black: #1d2129;

	background: var(--white2);
}

.title {
	color: var(--black);
}

.product-card {
	height: 100%;
	display: flex;
	flex-direction: column;

	border-radius: 5px;
	overflow: hidden;

	transition: all 200ms ease;

	box-shadow: 0 0 1rem 2px rgba(10, 10, 10, 0.1);
}

.product-card:hover {
	box-shadow: 0 0 0 1px var(--secondary), 5px 5px 0 1px var(--secondary2);
}

.product-card figure {
	text-align: center;
	padding: 5px;
	flex: 1;

	/* i added this */
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0;
}

.social {
	display: flex;
	align-items: center;
}

.social li {
	margin-right: 20px;
	text-decoration: none;
}
.social a {
	color: var(--white);
}

.banner {
	margin: 50px;
}

.products {
	flex-wrap: wrap;
}

.container {
	padding: 1rem;
}

.card-footer-item i {
	margin-right: 10px;
}

.navbar-bottom.navbar {
	align-items: center;
}

.navbar-top.navbar {
	background-color: var(--primary);
}

.navbar-buttons {
	display: flex;
}

.navbar-top .container.navbar-container,
.navbar-bottom .container.navbar-container {
	display: flex;
	justify-content: space-between;
	padding: 0px 5%;
	align-items: center;
}

#cart h3 {
	margin-top: 50px;
}

#cart .cart-item {
	margin-bottom: 10px;
	padding: 20px;
}

.product-card .card-footer {
	justify-content: center;
}

.product-card .card-footer form {
	display: block;
	width: 100%;
}

add-to-cart-btn {
	background: var(--white2);
}

.product-img {
	transition: all 250ms ease-out;
}

.product-img:hover {
}

.admin > div.container {
	margin: 40px 10%;
}

.admin .control {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.admin table {
	width: 100%;
}

.admin table th:first-of-type {
	width: 50%;
}
.admin table td:first-of-type {
	width: 50%;
}

.admin table td {
	vertical-align: middle;
}

.product-card .card-footer button {
	border: none;
	border-radius: 0px;
	width: 100%;
	height: 50px;

	transition: all 200ms ease-out;
}

.product-card .card-footer button:hover {
}

.product-card .card-footer button i {
	margin-right: 10px;
}

#cart .cart-item h3 {
	margin: 0;
}

.cart-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.quantity {
	position: relative;
}

.quantity:before {
	content: '#';
	position: absolute;
	z-index: 10;
	top: 0;
	right: 5px;
	bottom: 0;
	display: flex;
	align-items: center;
	color: gray;
}

.cart-right .field {
	margin-bottom: 0 !important;
}

.price {
	margin: 0 20px;
}

.cart-right {
	display: flex;
	align-items: center;
}

.fa-cookie {
	color: var(--primary);
}

.product-price {
}

.product-title {
	color: var(--primary);
}
